


  
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="footer-top">
                  <h2 class="logo-title">
                    <a href="{{site.baseurl}}/" class="logo-text">Davis on BI</a>
                  
                  </h2><a href="#" class="top"><i class="fa fa-angle-double-up pull-right"></i></a>
                    <div class="footer-social">
                     {% if site.RSS %}
                      
                          <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                              <span class="fa-stack fa-lg">
                                  <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                              </span>
                          </a>
                      
                    {% endif %}
                    {% if site.linkedin %}
                      
                          <a target="_blank" href="{{ site.linkedin }}">
                              <span class="fa-stack fa-lg">
                                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                              </span>
                          </a>
                      
                    {% endif %}
  
                    {% if site.email-address %}
                      
                    <a href="mailto:{{ site.email-address }}">
                      <span class="fa-stack fa-lg">
                          <i class="fa  fa-envelope fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
              
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col col-9">
                <div class="footer-bottom">
                    <div class="copyright">
                    <p>&#10032; Friends：<a href="https://www.powerbigeek.com/">PowerBI极客</a>&ensp;&ensp;<a href="https://pbihub.cn/">PBI Hub</a><br />&copy; 2019 Published with<a href="https://pages.github.com/"> GitHub Pages </a>
                    <span>| All Rights Reserved<br /></span>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col col-3 fadeshow">
                <div class="row">
                <div class="col col-6">
                    <a></a>
                </div>
                    <div class="col col-7" >
                        <span>
                            <img src="{{site.baseurl}}/img/MVP_Logo.png" style="margin-left:120px; vertical-align:top;" width="100%" height="100%">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> <!-- /.footer --> 


  
