<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer-top">
            <h2 class="logo-title">
                <a href="{{site.baseurl}}/" class="logo-text">Davis on BI</a>
                
            </h2><a href="#" class="top"><i class="fa fa-angle-double-up pull-right"></i></a>
	        <div class="footer-social">
		        {% if site.RSS %}
                    
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    
                {% endif %}
                {% if site.linkedin %}
                    
                        <a target="_blank" href="{{ site.linkedin }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    
                {% endif %}

                {% if site.email-address %}
                    
                <a href="mailto:{{ site.email-address }}">
                    <span class="fa-stack fa-lg">
                        <i class="fa  fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            
        {% endif %}
            </div>
        </div>
        <div class="footer-bottom">
            <div class="copyright">
              <p>&copy; 2019-{{site.time | date: '%Y'}} Published with<a href="https://pages.github.com/"> GitHub Pages </a>
			| All Rights Reserved </p>
            </div>
            <div class="footer-social" style="color:#707890">
                <ul class="list-reset">
                  <li>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                        &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                        &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                      <small>&ensp;FRIENDS：&ensp;&ensp;</small><a href="https://www.powerbigeek.com/">PowerBI极客</a>
                </ul>
            </div>  
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->
