---
layout: default
---
<script>
function changeFrameHeight(){
    var ifm= document.getElementById("iframepage"); 
    ifm.height=document.documentElement.clientHeight;
}
</script>


<div class="container" style="position:relative;padding-top:6%;">
	<div class="row">
		<article class="col col-12 col-t-10 push-t-1 page">
			<div class="page-content" id="iframepage">
				<div class="page-head">
					<h1 class="page-title">Power BI 中文博客联盟</h1>
				</div>
				<html>
					<body>
						<div style="position:relative;padding-top:66.6%;">
							<iframe id="pbiframe" allowtransparency="true"  src="https://app.powerbi.com/view?r=eyJrIjoiOTA4OWQ3NWEtYjhlZi00NDQ1LWI3MjQtMGJiNDZhNzA3MDk3IiwidCI6IjAwM2ViMjA5LTc0NjQtNGVhNy1hOTcxLWFlMWQyMmI5NGFiNCIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
						</div>
					</body>
				</html>
				<div class="page-body">
					{{ content }}
				</div>
			</div>
		</article> <!-- /.page -->
	</div>
</div>
