---
layout: default
---

<!--//添加评论系统-->
<link rel="stylesheet" href="{{ site.baseurl }}/css/gitalk.css">
    <script src="../../../../js/gitalk.min.js"></script>

<div class="container">
	<div class="row">
		<div class="col col-12">
			<div class="post-image-box">
				<div class="post-image" style="background-image: url({{"/img/posts/" | prepend: site.baseurl | append : page.image}})"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<article class="col col-12 col-t-8 post">
			<div class="post-content">

				<div class="post-head">
					{% if page.tags.size >= 1 %}
					<div class="post-tag">
						{% for tag in page.tags %}
						<a href="{{ site.baseurl }}/tags#{{tag}}" class="tag">{{ tag }}</a>
						{% endfor %}
					</div>
					{% endif %}
					<h1 class="post-title">{{ page.title | escape }}</h1>
					<div class="post-info">
						<div class="post-info-author">
							<div class="info-author-avatar" style="background-image: url({{"/img/" | prepend: site.baseurl | append : page.author-image }})"></div>
							<span>by</span>
							<span class="info-author-name">{{page.author-name | escape }}</span>
						</div>
						<div class="post-date">
							<span>
								<time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%m-%d, %Y'}}</time>
							</span>
						</div>
					</div>
				</div>

				<div class="post-body">
					{{ content }}

					<div class="post-share">
						<ul class="share-list list-reset">
							<li class="share-item">
								<a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
								onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
								title="分享到 Facebook" rel="nofollow">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
					
					
							<li class="share-item">
								<a class="share-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title | uri_escape }}&summary={{ page.description | uri_escape }}&source={{ site.title | uri_escape }}"
								onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
								title="分享到 LinkedIn" rel="nofollow">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>

							<li class="share-item">
								<a class="share-weibo" href="http://service.weibo.com/share/share.php?&url={{ site.url }}{{ page.url }}&title={{page.title}}"
								onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
								title="分享至微博" rel="nofollow">
									<i class="fa fa-weibo"></i>
								</a>
							</li>

							<li class="share-item">
								<a class="share-qzone" href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{ site.url }}{{ page.url }}&title={{page.title}}"
								onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
								title="分享至QQ空间" rel="nofollow">
								    <i class="fa fa-qq"></i>
								</a>
							</li>
					
						</ul>
					</div><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br />本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>进行许可。
				</div>

				<div class="post-navigation">
					{% if page.previous.url %}
					<a href="{{ site.baseurl }}{{page.previous.url}}" class="prev">
						<div class="post-nav-arrow"><i class="fa fa-long-arrow-left"></i> 上一篇</div>
						<h2 class="post-nav-title">{{page.previous.title}}</h2>
					</a>
					{% endif %} {% if page.next.url %}
					<a href="{{ site.baseurl }}{{page.next.url}}" class="next">
						<div class="post-nav-arrow">下一篇 <i class="fa fa-long-arrow-right"></i></div>
						<h2 class="post-nav-title">{{page.next.title}}</h2>
					</a>
					{% endif %}
				</div>
				

                
                                <!--   gitalk       -->
                                {% if site.gitalk %}
                                <div class="comment">
                                    {% include comments.html %}
                                </div>
                                {% endif %}

			</div>


	</article> <!-- /.post -->

	<div class="col col-12 col-t-4">
		{% include sidebar.html %}
	</div>

	</div>
</div>
